{% extends "base.html" %}

{% block title %}Resultados de Evaluaciones{% endblock %}

{% block content %}
<div class="container">
    <h1 class="fw-bold text-center">Resultados de Evaluaciones</h1>
    <div class="row">
        <!-- Evaluaciones de Cultivo -->
        <div class="col-md-6">
            <h2 class="fw-bold text-center">Evaluaciones de Cultivo</h2>
            <ul class="list-group">
                {% for evaluacion in evaluaciones %}
                <li class="list-group-item m-2">
                    <h5>Evaluación del cultivo</h5>
                    <p><strong>Variedad de café:</strong> {{ evaluacion.variedad_cafe }}</p>
                    <!-- Otros campos de evaluación de cultivo aquí -->
                    <p><strong>Sugerencias:</strong> {{ evaluacion.sugerencias }}</p>
                    <p><strong>Posibles problemas futuros:</strong> {{ evaluacion.posibles_problemas_futuros }}</p>
                    <p><strong>Fecha:</strong> {{ evaluacion.fecha }}</p>
                </li>
                {% empty %}
                <li class="list-group-item">No tienes evaluaciones de cultivos guardadas.</li>
                {% endfor %}
            </ul>
        </div>
        
        <!-- Evaluaciones de Suelo -->
        <div class="col-md-6">
            <h2 class="fw-bold text-center">Evaluaciones de Suelo</h2>
            <ul class="list-group">
                {% for analisis_suelo in analisis_suelo %}
                <li class="list-group-item m-2">
                    <h5>Evaluación del suelo</h5>
                    <p><strong>Textura:</strong> {{ analisis_suelo.textura }}</p>
                    <p><strong>pH:</strong> {{ analisis_suelo.ph }}</p>
                    <p><strong>Materia orgánica:</strong> {{ analisis_suelo.materia_organica }}%</p>
                    <p><strong>Drenaje:</strong> {{ analisis_suelo.drenaje }}</p>
                    <p><strong>Calidad del suelo:</strong> {{ analisis_suelo.calidad_suelo }}</p>
                    <p><strong>Recomendaciones:</strong> {{ analisis_suelo.recomendaciones }}</p>
                    <p><strong>Posibles riesgos:</strong> {{ analisis_suelo.posibles_riesgos }}</p>
                    <p><strong>Fecha:</strong> {{ analisis_suelo.fecha }}</p>
                </li>
                {% empty %}
                <li class="list-group-item">No tienes análisis de suelo guardados.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
