# Entornos virtuales
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de configuración de Django
*.log
*.pot
*.pyc
*.pyo
.migrations/

# Configuración de bases de datos locales
db.sqlite3

# Archivos de sistema
.DS_Store