<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <p>Hola {{ user.first_name }},</p>
    <p>Hemos recibido una solicitud para restablecer su contraseña. Haga clic en el enlace a continuación para restablecer su contraseña:</p>
    <p><a href="{{ link }}">Recuperar Contraseña</a></p>
    <p>Si no solicitó un cambio de contraseña, puede ignorar este correo electrónico.</p>
    <p>Gracias,<br>CoffeeWeb</p>
</body>
</html>