@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

:root{
  --color-success: #88ab00;
  --color-danger: #f80000;
}

.guardarterreno {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cancelar{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-danger);
  font-size: 16px;
  overflow: hidden;
  transition: .5s;
  transition: box-shadow 0.3s ease-in-out;
}

.cancelar:hover,
.cancelar:active{
  background-color: var(--color-danger);
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px 7px var(--color-danger);
}

.cancelar span{
  position: absolute;
  display: block;
}

.cancelar span:nth-child(1){
  top: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent, var(--color-danger));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}

.cancelar span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-danger));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}

.cancelar span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-danger));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}

.cancelar span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-danger));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}

.guardar{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-success);
  font-size: 16px;
  overflow: hidden;
  transition: .5s;
  transition: box-shadow 0.3s ease-in-out;
}

.guardar:hover,
.guardar:active{
  background-color: var(--color-success);
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px 7px var(--color-success);
}

.guardar span{
  position: absolute;
  display: block;
}

.guardar span:nth-child(1){
  top: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent, var(--color-success));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}

.guardar span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-success));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}

.guardar span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-success));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}

.guardar span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-success));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}

/* Modo Luz */
[data-theme='light'] {
    --bg-color: #f8f8ff; /* Fondo del main en modo luz */
    --bp-color: #ffffff; /* Fondo del section en modo luz */
    --text-color: #905010; /* Color del texto en modo luz */
  
    .editarterreno {
      background-color: var(--bp-color);
      color: var(--text-color);
    }

    .form-select {
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  
  }
  
  /* Modo Oscuro */
  [data-theme='dark'] {
    --bg-color: #343a40; /* Fondo del offcanvas en modo oscuro */
    --text-color: #ffffff; /* Color del texto en modo oscuro */
    --muted-color: #848484; /* Color del texto muted */
  
    .editarterreno {
      background-color: var(--bg-color);
      color: var(--text-color);
    }

    .form-select {
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  
  }